<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/basic">
<!--/* Title */-->
<th:block layout:fragment="title">
    <title></title>
</th:block>

<!--/* Custom Head Tags */-->
<th:block layout:fragment="custom-head"></th:block>

<!--/* Content */-->
<th:block layout:fragment="content">

	<!--/* Page Heading */-->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
		<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
			<i class="fas fa-download fa-sm text-white-50"></i> Generate Report
		</a>
	</div>

	<!--/* Content Row */-->
	<div class="row"></div>

</th:block>

<!--/* Custom Script */-->
<th:block layout:fragment="custom-script">
    <script th:inline="javascript">
    /* <![CDATA[ */
    	
    /* ]]> */
    </script>
</th:block>