<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head :: head" />
<!--/* Title */-->
<th:block layout:fragment="title">
    <title>Board - 비밀번호 찾기</title>
</th:block>

<!--/* Custom Head Tags */-->
<th:block layout:fragment="custom-head"></th:block>

<body class="bg-gradient-primary">

	<div class="container">

		<!--/* Outer Row */-->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!--/* Nested Row within Card Body */-->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-2">비밀번호 찾기</h1>
										<p class="mb-4">가입할 때 사용한 이메일 주소를 입력해주시면 임시 비밀번호를 받을 수 있습니다.</p>
									</div>
									<form class="user" method="post" th:action="@{/forgot-password}" th:object="${form}">
										<div class="form-group">
											<input type="email" class="form-control form-control-user"
		                                           th:field="*{username}" placeholder="이메일"
		                                           th:classappend="${#fields.hasErrors('username')} ? 'border border-danger'"
		                                           th:placeholder="${#fields.hasErrors('username')}
		                                                           ? '이메일: ' + ${#strings.replace(#strings.replace(#fields.errors('username'), '[',''), ']', '')}
		                                                           : '이메일'">
										</div>
										<button type="submit" class="btn btn-primary btn-user btn-block">비밀번호 찾기</button>
									</form>
									<hr>
									<div class="text-center">
										<a class="small" th:href="@{/register}">회원가입</a>
									</div>
									<div class="text-center">
										<a class="small" th:href="@{/login}">로그인 하기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<!--/* Core Script */-->
	<th:block th:replace="fragments/body :: script"></th:block>

	<!--/* Custom Script */-->
	<th:block layout:fragment="custom-script">
		<script th:inline="javascript">
		/* <![CDATA[ */
			
		/* ]]> */
		</script>
	</th:block>

</body>
</html>